<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tushar's Project Management App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/allProjects" class="nav-link px-3 text-white">All Projects</a></li>
                    <li><a href="/joinedProjects" class="nav-link px-3 text-white">Joined Projects</a></li>
                </ul>


                <div class="text-end">
                    <a href="/createProject"><button type="button" class="btn btn-outline-light me-2">Create Project Group</button></a>
                    <a href="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                    <a href="/signUp"><button type="button" class="btn btn-warning">Sign-up</button></a>
                </div>
            </div>
        </div>
    </header>

    

        <form action="/login" method="post" class="container  d-flex flex-column mb-3 justify-content-center align-items-center gap-4 mt-5 shadow p-4 bg-body rounded">
            <div class="mb-3">
              <label for="userID" class="form-label">User ID</label>
              <input type="text" class="form-control" id="userID" name="userId" required placeholder="Enter your User Id here...">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="userPassword" required placeholder="Enter your password here...">
            </div>
    
            <button type="submit" class="btn btn-primary mt-3">Login</button>
          </form>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>